src/main/mule/implimentation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="7de15643-188a-422b-bd68-6b80011c4ee5" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="system" database="mulesoft" />
	</db:config>
	<flow name="postOrders" doc:id="42c6e010-a7b2-40ca-bca9-c81121cfc0fe" >
		<ee:transform doc:name="set orders" doc:id="d8bee069-ec05-439e-bd42-569fec33c9d1" >
			<ee:message >
				<ee:set-payload ><![CDATA[output application/json
---
payload.products map(object,index)->{
	name: object.name,
	description: object.description,
	ind: object.index,
	code: object.code,
	quantity: object.quantity
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="origPayload" ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:insert doc:id="393b279c-3426-4d53-aae8-238ee7528061" config-ref="Database_Config" target="order2" doc:name="Insert orders" >
			<db:sql ><![CDATA[insert into orders(date,nativeID,customerNumber) values(:date,:nativeID,:customerNumber)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{date: vars.origPayload.date, nativeID: vars.origPayload.nativeId,customerNumber: vars.origPayload.customerNumber}]]]></db:input-parameters>
		</db:insert>
		<db:select doc:name="Select orderid" doc:id="df8ed170-ffb5-4df8-b431-1208ec199887" config-ref="Database_Config" target="id">
			<db:sql ><![CDATA[select id from orders 
where customerNumber= :no]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	no: vars.origPayload.customerNumber
}]]]></db:input-parameters>
		</db:select>
		<foreach doc:name="For Each" doc:id="9f6a5cca-3557-425a-9389-60f12c5ccc9e" >
			<db:insert doc:id="a1f4140e-4acd-40cf-a120-230d8d263672" config-ref="Database_Config" doc:name="Insert products" >
				<db:sql ><![CDATA[insert into products(id,name,description,ind,code,quantity) values(:id,:name,:description,:ind,:code,:quantity)]]></db:sql>
				<db:input-parameters ><![CDATA[#[{
	id:vars.id[0].id, name: payload.name, description: payload.description,ind: payload.ind, code: payload.code, quantity: payload.quantity
}]]]></db:input-parameters>
			</db:insert>
		</foreach>
		<ee:transform doc:name="o/p" doc:id="a69ce6ec-567b-4c90-9833-1fe8bd3d37fd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	oderid: vars.id.id,
	msg: "order successfully created"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getById" doc:id="c73552cd-50b1-40a8-8118-7d73988baf4d" >
		<db:select doc:name="Select" doc:id="cb15af58-4f46-41c3-865a-001e303e9e40" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from orders
where id= :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: vars.id
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="839a936d-d136-4d47-a984-ed9999ecf261" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="delete" doc:id="710890f9-fc5f-48df-8181-2a36398e2b52" >
		<db:delete doc:name="Delete" doc:id="84bcba26-2bca-45b1-b6cc-0576850e4586" config-ref="Database_Config">
			<db:sql ><![CDATA[delete from products 
where id=:id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: vars.id
}]]]></db:input-parameters>
		</db:delete>
		<db:delete doc:name="Delete" doc:id="2096b171-33b0-433c-b448-0261fa5fb68e" config-ref="Database_Config">
			<db:sql ><![CDATA[delete from orders 
where id= :id ]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: vars.id
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="c27a086a-2802-4bd1-8c1c-3c4f44cb00d2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
vars.order]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0845db8a-ec56-4b9a-afa6-7291b61bc3d1" />
	</flow>
	<flow name="putOrder" doc:id="a848174b-deef-4372-a231-7c5e47747ad0" >
		<ee:transform doc:name="Transform Message" doc:id="70f20bf3-393c-4632-ac06-8d3213f6b156" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
date: payload.date,
nativeId: payload.nativeId,
customerNumber: payload.customerNumber,
id: payload.id
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="products" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:update doc:name="Update" doc:id="241dda39-ad3f-467a-9c1f-a1343b1513bd" config-ref="Database_Config">
			<db:sql ><![CDATA[update orders 
set date=:date, nativeID=:nativeId, customerNumber=:custno
where id=:id
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	date: payload.date,nativeId: payload.nativeId,custno: payload.customerNumber , id: vars.id
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="aeabe913-29e1-4ea9-8f95-a15b559fa81f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.products.products map(object,index)->{
	name: object.name,
	description:object.description,
	index: object.index,
	code: object.code,
	quantity:object.quantity,
	id: object.id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="ec958c37-9aab-4111-89bc-c941c793ed6f" >
			<db:update doc:name="Update" doc:id="c884f2fa-5d36-4bcb-99fc-99b47ad625db" config-ref="Database_Config">
			<db:sql><![CDATA[update products
set name=: name, description=: description, ind=: ind, code=: code, quantity=: quantity
where id=: id]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	name: payload.name, description: payload.description, ind: payload.index, code: payload.code, quantity: payload.quantity, id: payload.id 
}]]]></db:input-parameters>
		</db:update>
		</foreach>
	</flow>
</mule>
